{% extends 'base.html' %} {% block title %} Ajout d'une propriété' {% endblock title %} {% block content %}
<h3> Formulaire d'ajout </h3>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.poperties %} class="{{ message.poperties }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="{% url 'create_poperty' %}" enctype="multipart/form-data">
    {% csrf_token %} {{ poperty_form.as_p }}

    <button type="submit" class="btn btn-primary">save</button>
</form>

{% endblock content %}