{% extends 'base_owner_template.html' %} {% block title %} Ajout de propriétaire {% endblock title %} {% block content %}
<h3> Formulaire d'ajout </h3>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.owners %} class="{{ message.owners }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="{% url 'create_owner' %}" enctype="multipart/form-data">
    {% csrf_token %} {{ owner_form.as_p }}

    <button type="submit" class="btn btn-primary">save</button>
</form>

{% endblock content %}