{% extends 'base_owner_template.html' %} {% load static %} {% block title %}Liste des Clients{% endblock title %} {% block content %}
<div class="d-flex justify-content-between">
    <h3>Liste des propriétaire</h3>
    <a href="{% url 'create_owner' %}" class="btn btn-sm btn-success">Créer un propriétaire</a>
</div>

{% if messages %}
<div class="alert alert-{{ messages.0.owners }}">
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénoms</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for owner in owners %}
        <tr>
            <th scope="row">{{ owner.id }}</th>
            <td>{{ owner.lastname }}</td>
            <td>
                {{ owner.firstname }} {% if owner.is_deleted %}
                <span class="badge text-bg-danger ms-2">deleted</span> {% endif %}
            </td>
            <td>
                <a href="{% url 'show_owner' owner.id %}" class="btn btn-sm btn-info">Afficher</a>
                <a href="{% url 'update_owner' owner.id %}" class="btn btn-sm btn-warning">Modifier</a>
                <a href="{% url 'delete_owner' owner.id %}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}