{% extends 'base.html' %} {% load static %} {% block title %}Liste des Clients{% endblock title %} {% block content %}
<div class="d-flex justify-content-between">
    <h3>Liste des Clients</h3>
    <a href="{% url 'create_customer' %}" class="btn btn-sm btn-success">Créer un client</a>
</div>

{% if messages %}
<div class="alert alert-{{ messages.0.customers }}">
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénoms</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <th scope="row">{{ customer.id }}</th>
            <td>{{ customer.lastname }}</td>
            <td>
                {{ customer.firstname }} {% if customer.is_deleted %}
                <span class="badge text-bg-danger ms-2">deleted</span> {% endif %}
            </td>
            <td>
                <a href="{% url 'show_customer' customer.id %}" class="btn btn-sm btn-info">Afficher</a>
                <a href="{% url 'update_customer' customer.id %}" class="btn btn-sm btn-warning">Modifier</a>
                <a href="{% url 'delete_customer' customer.id %}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}